<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        img {
            width: 200px; /* Adjust the width as needed */
            height:200px;
            border: 2px solid #000;
        }
    </style>
</head>
<body>
    <h1>Live Video Stream</h1>
    <img src="/video_feed" alt="Video Feed">
</body>
</html>
